<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
<script src='script/angular.min.js'></script>
<script src="script/Acceuil.js"></script>
	<meta charset="utf-8">
<style>
 .mediaS {
 	background-color: #0c2461;
 	box-shadow: 20px 2px  30px #e74c3c;
 	width: 280px;
 	margin-left: 20px;
 }
 .mediaS>td {
 	padding: 20px;

 }
 #facebook {
 	color: #3498db;
 	text-shadow: inset 20px 20px 30px #34495e;
 }
</style>
</head>
<body>

	<div class="mediaS" style="">
		<table>
		<tr>
			<td> <img src='./img/media/Facebook_Logo.png' width="50px"/></td>
			<td> <h4 id='facebook'> Sky Radio </h4></td>
		</tr>
		</table>

		
	</div>
<div>
<rville  weather="weather" title="'Random Program'"></rville>
</Div>

</body>

</html>

