<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
<script src='script/angular.min.js'></script>
<script src="script/Acceuil.js"></script>

<link rel="stylesheet" href='./style/Meteo.css'/>
</head>
<body>
<h1> Meteo </h1>
<div ng-controller="MeteoController">
<button class="btn btn-primary" ng-click="order = 'name' ">Trier les villes par leur noms </button>

<button class="btn btn-primary" ng-click="order = 'C' ">Trier les par villes leur degre </button>
<table class="table table-dark">
	<tr> 
		<thead>
		<th> Ville </th>
		<th> Cel</th>
		</thead>
	</tr>
<tr ng-repeat="w in weather |orderBy: order ">
<td>{{w.name}}</td>
<td>{{w.C}} &deg;</td>
</tr>
</table>

</div> 
</body>
</html>