<!DOCTYPE html>
<html>
<head>
	<title>Programme</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
<script src='script/angular.min.js'></script>
<script src="script/Acceuil.js"></script>

<link rel="stylesheet" href='./style/programme.css'/>	
</head>
<body>

<h1>Nos Programme</h1><hr>
	<form action="">
	<div class="form-group"  ng-controller="ProgrammeController">
	<input type="text"  placeholder="saisir votre programme : exple studio mala3eb"  class="form-control" ng-model="search"/>
	<table class="table table-dark">
			<tr>
				<th>nom </th>
				<th> Heure</th>
				<th> Replay </th>
			</tr>
			<tr ng-repeat="p in Programme | filter: search">
				<td>{{p.nom}}</td>
				<td class='heur'>{{p.heure}}</td>
				<td> <img ng-click="watchinyoutube(p)" src='./img/youtube.png' width="80px"/> </td>
			</tr>
	</table>

	</div>
</form>
</body>
</html>